* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #e4e3eb;
    --secondary: #c94f64;
    --background: #433a6a;
    --light-background: #fff;
    --light-background-text: #5365bd;
    --border: #5365bd;
}

