#create-topic {
    margin: 20px 30px;
}

#topic-form {
    display: flex;
    margin-top: 10px;
}

#topic-form .form-row {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#topic-form input {
    padding: 5px 10px;
    width: 500px;
    border: 0;
    font-size: large;
    color: var( --light-background-text-color);
    background-color: var(--light-background-color);
}

#topic-form textarea {
    padding: 5px 10px;
    width: 500px;
    height: 200px;
    border: 0;
}

#topic-form input[type="submit"] {
    width: 100px;
    align-self: flex-end;
}

#topic {
    width: 66%;
    margin: 20px 30px;
}

#topic-title {
    font-size: x-large;
    font-weight: bold;
}

.post {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

.post-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post-user {
    white-space: nowrap;
    margin-left: 10px;
}

.post-user a:any-link {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    letter-spacing: 0.1em;
}

.post-date a:any-link {
    text-decoration: none;
    color: var(--primary-color);
    font-size: smaller;
    font-weight: normal;
    letter-spacing: normal;
}

.spacer {
    padding: 10px 0;
    width: 100%;
}

.spacer hr {
    border: 0;
    border-top: 1px solid var(--border-color);
}