#auth {
    margin: 20px 30px;
    width: 50%;
}

#auth-form {
    margin-top: 40px;
}

#auth-form input {
    padding: 10px 20px;
    border: 0;
    font-size: large;
    color: var( --light-background-text-color);
    background-color: var(--light-background-color);
}

#auth-form input[type="submit"] {
    width: 100px;
    align-self: flex-end;
}

#auth-form .form-row {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
}

#auth-form .form-row span {
    margin-top: 5px;
    color: var(--primary-color);
    font-size: small;
    text-align: right;
}