<!DOCTYPE html>
<html>
    <head>
        <title>{{.Title}}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/nav.css">
        <link rel="stylesheet" type="text/css" href="/css/user.css">
        <link rel="stylesheet" type="text/css" href="/css/topic.css">
        <link rel="stylesheet" type="text/css" href="/script/script.js">
        {{template "meta" .Meta}}
    </head>
    <body>
        <header>{{template "header" .Header}}</header>
        {{ if .ShowSidebar }}
        <nav>{{template "nav" .Nav}}</nav>
        {{end}}
        <main>{{template "main" .Main}}</main>
    </body>
</html>