{{define "main"}}
<div id="topic">
    <div id="topic-title">
        {{.Title}}
    </div>
    {{range .Posts}}
    <div class="post"> 
        <div>
            {{ .Text }}
        </div>
        <div class="post-info">
            <div class="spacer">
                <hr>
            </div>
            <div class="post-user">
                <span class="post-date">
                    <a href="/post/{{.ID}}" alt="asdf  ">
                        {{ .CreatedAt | .FormatDate }}
                        {{ if .IsUpdated }}
                        ~ {{ .UpdatedAt | .FormatDate }} 
                        {{ end }}
                    </a>
                </span>
                -
                <a href="/user/{{.Username}}">{{ .Username }}</a>
            </div>
        </div>
    </div>
    {{end}}
    {{ if .IsLoggedIn }}
        <div id="topic-form">
            <form action="/topic/add?id={{.ID}}" method="POST">
                <div class="form-row">
                    <textarea name="post" placeholder="Enter your post" required></textarea>
                </div>
                <div class="form-row">
                    <input type="submit" value="Send">
                </div>
            </form>
        </div>
    {{end}}
</div>
{{end}}